Dear {{first_name }} {{ last_name }}
<p>There are your registration details below:</p>
<p>
    <table>
        <tr>
            <td>First Name: </td><td>{{first_name}}</td>
        </tr>
        <tr>
            <td>Last Name: </td><td>{{last_name}}</td>
        </tr>
        <tr>
            <td>Username: </td><td>{{username}}</td>
        </tr>
        <tr>
            <td>E-mail address:</td><td>{{email}}</td>
        </tr>
    </table>
</p>
<p><i>- Welcome on board</i></p>